table{
    width: 60%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid white; /* Параметры рамки */
   }
   th {
    background: #E6E6FA; /* Цвет фона */
   }
   textarea{
    width:60%;
    height:50px;
   }