<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<div id = "registration"></div>
<script type="text/babel">
    ReactDOM.render(
        <div>
            <form id = "reg_form" method="get" action="/home/add">
                <input type="text" name="login" placeholder="Your new login" />
                <input type="password" name="password" placeholder="Your new password" />
                <input type="email" name="email" placeholder="Your new email" />
                <button type="submit">Get Registration</button>
            </form>
        </div>,
        document.getElementById("registration")
        );
</script>
</body>
</html>