<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div id = "user-room">{{name}}</div>
<script type="text/babel">
    ReactDOM.render(
        <div>
            <h1>Welcome dear friend</h1>
            <h3>This you User room</h3>
            <p>In this room you can found email from another users into this system</p>
            <p>And can send and get new mail</p>
        </div>,
        document.getElementById("user-room")
        );
</script>
</body>
</html>